<div class="container">
  <div class="messages-container" #scrollMe>
    <div class="messages" id="messagesID">
      <div class="message" *ngFor="let msg of messages" [class.isMe]="msg.user.email === user.email">
        <div class="message-content">
          {{msg.text}}
        </div>
      </div>

    </div>
  </div>
  <div class="error" *ngIf="errorChatkit">
    {{errorChatkit}}
  </div>
  <div class="message-input">

    <textarea placeholder="Type your message here" name="message" (keyup.enter)="sendMessage()" [(ngModel)]="userMessage"></textarea>


  </div>

</div>