.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    float: left;
    margin-left: -8px;
    .kf-link {
        float: right;
        margin-right: 16px;
    }
}