:host {
    .footer {
        align-items: flex-start;
        background-color: white;
        bottom: 0;
        box-shadow: 0 -2px 2px #8b8888;
        display: flex;
        height: 70px;
        justify-content: space-around;
        padding: 5px 0;
        position: fixed;
        width: 100%;
        z-index: 100;
        a {
            color: black;
            text-align: center;
            text-decoration: none;
            text-transform: capitalize;
        }
    }


}
