

// // Icon backgorund image mixin

@each $name in 'chat' 'edit' 'mood' 'notes' 'profile' 'settings' 'tracker'{
    .icon-#{$name} {
        background-image: url('/app/assets/images/ic_#{$name}.png');
    }
}

// // Smilie icons mixin

@each $name in 'smilie-1' 'smilie-2' 'smilie-3' 'smilie-4' 'smilie-5' {
    .icon-#{$name} {
        background-image: url('/app/assets/images/#{$name}.png');
    }
}

// // Font family mixin

// String Replace
@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// Font-Face Mixin

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@include font-face('Noto-Sans', '/app/assets/fonts/NotoSans-Regular/NotoSans-Regular', regular, null);
@include font-face('Noto-Sans-Italic', '/app/assets/fonts/NotoSans-Italic/NotoSans-Italic', null,  italic);
@include font-face('Noto-Sans-Bold', '/app/assets/fonts/NotoSans-Bold/NotoSans-Bold', bold, null);
@include font-face('Noto-Sans-Bold-Italic', '/app/assets/fonts/NotoSans-BoldItalic/NotoSans-BoldItalic', bold, italic);

body {
	font-family: 'Noto-Sans';
	height: 100vh;
	margin: 0;
    padding: 0;
}
.button {
    background-color: grey;
}

