<div class="mood">
    <h1>Mood</h1>
</div>

<div class="background">
    <ul class="list">
        <li class="list-item green" [ngClass]="{ 'selected': moodRating === 5 }">
            <button (click)="setMoodRating(5)">
                <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Emoji_Icon_-_Happy_large.png?v=1513251069" alt="Very happy face" height="42" width="42">
                <p class="list-text">Today is awesome!</p>
            </button>
        </li>
        <li class="list-item yellow" [ngClass]="{ 'selected': moodRating === 4 }">
            <button (click)="setMoodRating(4)">
                <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Slightly_Smiling_Face_Emoji.png?9898922749706957214" alt="Happy face" height="42" width="42">
                <p class="list-text">  I'm feeling good</p>
            </button>
        </li>
        <li class="list-item orange" [ngClass]="{ 'selected': moodRating === 3 }">
            <button (click)="setMoodRating(3)">
                <img src="http://cdn.shopify.com/s/files/1/1061/1924/products/Neutral_Face_Emoji_grande.png?v=1480481054" alt="Neutral face" height="42" width="42">
                <p class="list-text">  I'm coping</p>
            </button>
        </li>
        <li class="list-item red" [ngClass]="{ 'selected': moodRating === 2 }">
            <button (click)="setMoodRating(2)">
                <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Unhappy_Face_Emoji_Icon_ios10_large.png?v=1513251068" alt="Sad face" height="42" width="42">
                <p class="list-text">  I'm not coping very well</p>
            </button>
        </li>
        <li class="list-item blue" [ngClass]="{ 'selected': moodRating === 1 }">
            <button (click)="setMoodRating(1)">
                <img src="http://moziru.com/images/sadness-clipart-disappointed-face-2.png" alt="Crying face" height="42" width="42">
                <p class="list-text">  I feel overwhelmed</p>
            </button>
        </li>
    </ul>
</div>
<div align="center">
    <button mat-raised-button class="button" [routerLink]="'/notes/create'" [queryParams]="{rating: moodRating}"type="submit">Submit</button>
</div>


