ul {
    list-style: none;
}

.mood {
    h2 {
        margin: 12px;
        text-align: center;
    }
}

.selected {
    border: 1px solid grey;
}

.button {
    background-color: grey;
}

.submit-section {
    align-items: center;
    display: flex;
    height: calc(100vh - 572px);
    justify-content: center;
}

.background {
    background-color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    .list {
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 0;
        .list-item {
            display: flex;
            height: 70px;
            width: 100%;
            button {
                align-items: center;
                display: flex;
                padding: 0px 32px;
                width: 100%;
                .list-text {
                    color: white;
                    font-size: 16px;
                    margin-bottom: 0px;
                    margin-top: 0px;
                    text-align: center;
                    text-shadow: 2px 2px black;
                    width: 100%;
                }
            }
        }
        .blue {
            background-color: #3c0195;
            &.selected {
                background-color: #6401f9;
            }
        }
        .green {
            background-color: #017f01;
            &.selected {
                background-color: #01d301;
            }
        }

        .orange {
            background-color: #954a01;
            &.selected {
                background-color: #f97c01;
            }
        }
        .red {
            background-color: #95010b;
            &.selected {
                background-color: #f90113;
            }
        }
        .yellow {
            background-color: #956d01;
            &.selected {
                background-color: #f9b601;
            }
        }

    }
}
