<h2>
  Welcome to the chat room
</h2>
<div class="users" *ngIf="otherUsers">
  <h3>I want to talk with</h3>
  <div *ngFor="let user of otherUsers">{{ user?.name }} <button [disabled]="user.inChat" *ngIf="room" mat-raised-button (click)="addToChat(user.email)">add to chat</button></div>
</div>

<div class="messages-container" #scrollMe>
  <div class="messages" id="messagesID">
        <div class="message" *ngFor="let msg of messages">
          <div class="message-user">
            <img [src]="'/assets/'+msg.user.avatar"><span>{{msg.user.name}}</span>
          </div>
          <div class="message-content">
            {{msg.text}}
          </div>
        </div>

  </div>
</div>
<div>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Type your message here" name="message" [(ngModel)]="userMessage"></textarea>
    </mat-form-field>
    <div>
      <button *ngIf="room" mat-raised-button (click)="sendMessage()">Go</button>
    </div>

</div>