<div class="landing-container ">
  <div class="landing-center">
    <h1 class="landing-element">Welcome to MoodoMetre!</h1>
    <form class="landing-element">
      <div class="md-form">
        <i class="fa fa-user prefix"></i>
        <input mdbActive type="text" class="form-control" id="form8" name="name" mdbInputValidate>
        <label class="active" for="form9">Type your name</label>
      </div>
      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input mdbActive type="email" class="form-control" id="form9" name="email" mdbInputValidate>
        <label class="active" for="form9">Type your e-mail</label>
      </div>

      <div class="md-form">
        <i class="fa fa-lock prefix"></i>
        <input mdbActive type="password" class="form-control" id="form10" name="password" mdbInputValidate>
        <label class="active" for="form10">Type your password</label>
      </div>
    </form>
  </div>

</div>